{{> mainh}}<br><br>
<div class="container-fluid">
	<div class = "text-center">
		<h2 class = "text-success"><b>ABOUT US</b> </h2>
	<big>
		<i class=" fa fa-cloud"></i>
	</big>
	</div>
	<!-- abiut us words-->
	<div class = "text-justify">
		<p>Cook pottery is a beautiful pastime suitable for everyone: adults and children, men and women, and even people with limited dexterity who need a particular manual activity to solve some health and motor problems . The ceramic is beautiful because it allows you to get beautiful results and wonderful objects for display and furniture. Cooking ceramics is certainly a complex an</p>
	</div>
	</div>
	<!-- who we are -->
	<div class = "bg bg-dark text-white">
	<div class = "container-fluid">
	<div class = "text-center">
		<h2 class = "text-success"><b> Who We Are</b> </h2>
	<big>
		<i class=" fa fa-cloud"></i>
	</big>
	</div>
	<div class = "text-justify">
		<p>Cook pottery is a beautiful pastime suitable for everyone: adults and children, men and women, and even people with limited dexterity who need a particular manual activity to solve some health and motor problems . The ceramic is beautiful because it allows you to get beautiful results and wonderful objects for display and furniture. Cooking ceramics is certainly a complex an</p>
	</div>
	
	</div>
	
	
</div>
{{> mainf}}