{{> mainh}}
<!--the hot deal in the shop-->
<img src="/images/gain.png" class="img-fluid" alt="Responsive image">
<div class ="container-fluid">
	<div class = "bg bg-light">
		<div class = "text-justify container"><br>
			<h5 style = "color: #DC143C"><b> HOT DEALS </b><span class = "size-sm"><span class = "ti-angle-double-right"></span></span></h5>
		</div>
	</div>
</div>
{{> mainf}}